@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: rgba(212, 240, 39, 0.1);
  mix-blend-mode: normal;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.field {
  position: relative;
  width: 100%;
}

.pop-up {
  position: absolute;
  top: 70px;
  max-height: 25rem;
  overflow-y: scroll;
  width: 100%;
  background: #fafafa !important;
  border-radius: 20px;
  z-index: 10;
  border-left: 2px solid #fafafa !important;
  border-right: 2px solid #fafafa !important;
  border-bottom: 2px solid #fafafa !important;
  background: #f0f0f0;
}
