@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: #000;
  mix-blend-mode: normal;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.field {
  position: relative;
  width: 100%;
}

.btn_border_primary {
  border-image: linear-gradient(180deg, #a8ff78, #78ffd6) 10;
}

.btn_border_primary:hover {
  border-image: linear-gradient(180deg, #78ffd6, #a8ff78) 10;
  box-shadow: 2px 3px 9px #a8ff78;
}

.btn_bg_primary {
  background: linear-gradient(90deg, #a8ff78, #78ffd6);
}

.btn_bg_primary:hover {
  box-shadow: 2px 3px 9px #a8ff78;
}
